@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  animation-duration: 200px;
}

/* for font */
.nunito {
  font-family: "Nunito", sans-serif;
}

.react-calendar {
  font-family: datefont !important;
  font-size: 24px !important;
  background: #1d1f20 !important;
  color: white;
  border: none !important;
  width: 420px !important;
}

.react-calendar__month-view__days button:hover {
  background: #1fb5dd !important;
  width: 34px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

abbr {
  text-decoration: none;
}
.bg {
  border-image-source: linear-gradient(
    90deg,
    rgba(202, 207, 221, 0.2) 22.4%,
    #cacfdd 51.01%,
    rgba(202, 207, 221, 0.2) 79.69%
  );
}

/* box card style  */
.bg {
  @apply bg-gradient-to-r from-[rgba(202,207,221,0.2)] via-[#cacfdd] to-[rgba(202,207,221,0.2)];
}
.btn {
  height: 36px;
  border-radius: 33px;
  border: 1px;
  border: 1px solid #6919ff;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  background: #6919ff;
  padding: 8px 20px;
  background: #100b30;
  display: flex;
  justify-content: center;
  align-items: center;

  @apply nunito;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

img,
svg {
  vertical-align: middle;
}

.header-text {
  font-family: Nunito;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  color: #f6f7fa;
}

.title-text {
  color: #f6f7fa;
  font-family: Nunito;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
}

.contact-border {
  width: 1200px;
  height: 178px;
  top: 3985px;
  left: 120px;
  border: 1px;
  background: #0c1021;
}

/* swiper js */
.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.slick-arrow {
  display: none !important;
}
/* Carousel Container */
.carousel-container {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

/* Individual Card */
.card {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.card-image {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Custom Dots */
.custom-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
}

.custom-dots .dot {
  width: 10px;
  height: 8px;
  background-color: #555; /* Inactive dot color */
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-dots .dot.active {
  background-color: #6919ff; /* Active dot color */
  width: 20px;
}
